name: Clean up resources

on:
  workflow_dispatch: {}

concurrency:
  group: ci-cd
  cancel-in-progress: false

jobs:
  teardown:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Destroy AWS Resources
        uses: ./.github/actions/teardown
        with:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ vars.AWS_REGION }}
          AWS_TF_BUCKET: ${{ vars.AWS_TF_BUCKET }}
          AWS_TF_KEY: ${{ vars.AWS_TF_KEY }}
          AWS_ACCOUNT_ID: ${{ vars.AWS_ACCOUNT_ID }}
